# Venvs
.venv/
.venv.*/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
build/
dist/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Runtime
*.log
.scout/
*.fallback.db
